<br><br>
<div class="footer">
	<div id="footer-text">
		<p>Tienda impetum metallum</p>
		<p>Av. Las Rejas 666, Estacion Central</p>
		<p>+569 98451547 | 2 25481658</p>
		<p>&copy; Todos los derechos reservador</p>
	</div>
</div>