<nav class="navbar navbar-inverse navbar-fixed-top" id="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false" id="barcol">
        <span class="sr-only">Toggles navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i>   Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Categorias izquierda -->
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/productos">Productos</a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		  <i class="" aria-hidden="true"></i>
		  Categorias <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/productos?formato=CD">CD'S</a></li>
            <li><a href="/productos?formato=Vinilo">Vinilos</a></li>
            <li><a href="/productos?formato=Cassete">Cassettes</a></li>
          </ul>
        </li>
      </ul>

      <!-- Categorias izquierda -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/shoppingCart">
        <i class="fa fa-shopping-cart fa-3"></i> Carro de compras
        <% if (session.cart == undefined) { %> 
        <i class="label label-danger">0</i>
        <% }else{ %>
        <i class="label label-danger"><%= session.cart.totalCantidad %> </i>
        <% } %>
        </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		  <i class="fa fa-user" aria-hidden="true"></i>
		  Cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (user) { %>
              <li><a href="/users/profile"> <%= user.name %></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/users/logout">Cerrar Sesion</a></li>
              <% } else{ %>
                <li><a href="/users/login">Iniciar Sesion</a></li>
                <li><a href="/users/register">Registrarse</a></li>
                <% } %>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>