<div class="panel panel-default" id="sidePanel">
	<br>
	<div style="padding-right: 10px; padding-left: 10px">
		<div id="text-divisor">Busqueda Rapida</div>
		<div class="panel panel-default">
			<form class="form" style="padding: 20px" method="GET" action="/productos">
				<div class="form-group">
					<label for="formato" class="pull-left">Formato</label>

					<select class="form-control" id="formato" name="formato">
				<option <%= (content != null && content.length === 3) && content[0] == "Todos" ? "selected" : ""  %>>Todos</option>
				<option <%= (content != null && content.length === 3) && content[0] == "CD" ? "selected" : ""  %>>CD</option>
				<option <%= (content != null && content.length === 3) && content[0] == "Vinilo" ? "selected" : ""  %>>Vinilo</option>
				<option <%= (content != null && content.length === 3) && content[0] == "Cassete" ? "selected" : ""  %>>Cassete</option>
			</select>
				</div>
				<div class="form-group">
					<label for="genero" class="pull-left">Genero</label>
					<select class="form-control" id="genero" name="genero">
				<option <%= (content != null && content.length === 3) && content[1] == "Todas" ? "selected" : ""  %>>Todos</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Heavy Metal" ? "selected" : ""  %>>Heavy Metal</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Black Metal" ? "selected" : ""  %>>Black Metal</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Doom Metal" ? "selected" : ""  %>>Doom Metal</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Thrash Metal" ? "selected" : ""  %>>Thrash Metal</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Death Metal" ? "selected" : ""  %>>Death Metal</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Grindcore" ? "selected" : ""  %>>Grindcore</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Goregrind" ? "selected" : ""  %>>Goregrind</option>
				<option <%= (content != null && content.length === 3) && content[1] == "Power Metal" ? "selected" : ""  %>>Power Metal</option>									
			</select>
				</div>
				<div class="form-group">
					<label for="banda" class="pull-left">Banda</label>
					<select class="form-control" id="banda" name="banda">
				<option  <%= (content != null && content.length === 3) && content[2] == "Todos" ? "selected" : ""  %>>Todos</option>
				<%for(var i in todo){%>
				<option><%= todo[i].banda %></option>
				<% }%>
				
			</select>
				</div>
				<div class="form-group">
					<input type="submit" class="btn" value="Buscar" />
				</div>
			</form>
		</div>
	</div>
</div>
