body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jpg");
  background-color: black;
  background-repeat: repeat;
  background-position: center;
  
}

.panel, .panel-footer, .panel-body {
    background-color: #C0BBA3;
    border-color: #303030;
    border-width: 0px;
    text-align: center;
}
.panel-body img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
}
.header{
    border: none !important;
}

#sidePanel{
    border-width: 2px ;
    height: 100%;/*tamaño de prueba, editar en el futuro*/
}
#sidePanel label{
    font-size: 16px;
}

.price, .band-text, .album-text{
	font-weight: bold;
	font-size: 16px;
    text-align: left;
}
.detail-text{
    font-weight: bold;
	font-size: 18px;
    text-align: left;
}

.table-text{  
    font-weight: normal;
    color: #303030;
    font-size: 17px;
}

#navigation ,#barcol{
     background-color: #1E1E1E;
	 border: none !important;
     padding-left: 12%;
     padding-right: 12%;
}


a:link {   
   text-decoration:none;   
} 

.footer {
   background-image: url("/images/footer.jpg");
   background-repeat: no-repeat;
   height:238px;
   width: 100%;
}
#footer-text{
    padding-top: 55px;
	padding-left: 50px;
    font-size: 16px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#text-divisor{
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #C0BBA3;
    text-indent: 10px;
    width: 99%;
}
#form-registro, #form-login{
    font-family: Courier;
    font-size: 19px;
    width: 99%;
    font-weight: bold;
    
}

.btn{
    background-color: #303030;
    color: white;
}
.btn:hover, .btn:focus{
    color: grey;
}

.btn-center{
    text-align: center;
}

.form-control{
    background-color: #999999;
    color: black;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #303030;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.table {
    width: 95%; 
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #bcb79e;
}


.error-mgs{
    padding: 3px;
    color: red;
    margin-bottom: 5px;
    padding-left: 18%;
}

.link-text{
    color:black;
}
.link-text:hover {
    color:gray;
    
}

.cart-table{
    border: 4px solid #000000;
}
