<div class="panel panel-default" id="sidePanel">
  <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div id="text-divisor">Bandas Destacadas</div><br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="/productos?banda=King+Diamond">
      <img src="../images/c1.jpg" >
      </a>
        </div>

        <div class="item">
          <a href="/productos?banda=Mercyful+Fate">
      <img src="../images/c2.jpg" >
      </a>
        </div>

        <div class="item">
          <a href="/productos?banda=Bathory">
      <img src="../images/c3.jpg" >
      </a>
        </div>

        <div class="item">
         <a href="/productos?banda=Candlemass">
      <img src="../images/c4.jpg" >
      </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>