<div class="container">
    <div id="text-divisor">Carrito de Compras</div>
    <% if(productos) {%>
        <% if(productos.length > 0) {%>

            <table class="table table-hover table-responsive" style="">
                <thead>
                    <tr>
                        <th><h3>Producto</h3></th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio Unidad</th>
                        <th class="text-center">Sub-Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><% productos.forEach(function(producto){%>
                            <td class="col-sm-8 col-md-6">
                                    <img class="pull-left" src="<%=producto.item.imagen%>" style="width: 100px; height: 100px;">
                                    <div class="media-body">
                                        <h4 class="media-heading" style="padding-left: 9px;"> <%=producto.item.album%> - <%=producto.item.formato%></h4>
                                        <h5 class="media-heading" style="padding-left: 9px;"> <%=producto.item.banda%></h5>
                                    </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <span class="table-text"><%=producto.cantidad%></span>
                            </td>
                            <td class="col-sm-2 col-md-2 text-center"><strong>$ <%=producto.item.precio%> CLP</strong> </td>
                            <td class="col-sm-2 col-md-2 text-center"><strong>$ <%=producto.precio%> CLP </strong> </td>
                            <td class="col-sm-2 col-md-2">
                            <a href="/remover/<%= producto.item._id %>" class="btn">Remover <span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                    </tr>
                    <% }) %>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h4>Cantidad </h4></td>
                            <td class="text-right">
                                <h4><strong><%=session.cart.totalCantidad%></strong></h4>
                            </td>
                        </tr>

                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <h3>Total</h3>
                            </td>
                            <td class="text-right col-sm-4 col-md-4">
                                <h3><strong>$ <%=session.cart.totalPrecio%></strong></h3>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continuar mirando
                        </button></td>
                            <td>
                                <button type="button" class="btn">
                            Confirmar <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                        </tr>
                </tbody>
            </table>

            <% }else{ %>
                <h2 style="text-align: center">No hay Productos en el carrito </h2><br>
                <% } %>
                    <% }else{ %>
                        <h2 style="text-align: center">No hay Productos en el carrito </h2><br>
                        <% } %>
                            <div id="text-divisor">
                                <h1></h1>
                            </div><br>
</div>