<div id="text-divisor">
    Iniciar Session
</div><br>


<div class="row" id="form-login">
    <div class="col-md-4 col-md-offset-4">

            <% if (success_msg.length > 0) {%>
                <div class="alert" style="color: green"><strong><%= success_msg %></strong></div>
            <% } %>

            <% if (error_msg.length > 0) {%>
                <h3 style="color: red"><%= error_msg %></h3>
            <% } %>

            <% if (error.length > 0) {%>
                 <h3 style="color: red"><strong><%= error %></strong></h3>
            <% } %>

        <form method="post" action="/users/login">
            <div class="form-group">
                <label for="username">Usuario: </label>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="btn-center">
                <button type="submit" class="btn">Iniciar Session</button>
            </div>
        </form>
    </div>
</div><br>
<div id="text-divisor">
    <h1></h1>
</div><br>