<!-- Modal --> 
<div class="modal fade" id="myModal<%=[i]%>" role="dialog"> 
	<div class="modal-dialog"> 
	  <!-- Modal content--> 
	  <div class="modal-content"> 
		<div class="modal-header"> 
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h4 class="modal-title"><%= productos[i].banda %></h4> 
		</div> 
		<div class="modal-body"> 

			
            <table class="pull-left col-md-8">
                         <tbody>
                             <tr>
                                 <td class="h4"><strong>Banda</strong></td>
                                 <td class="h5"><%= productos[i].banda %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Album</strong></td>
                                 <td class="h5"><%= productos[i].album %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Formato</strong></td>
                                 <td class="h5"><%= productos[i].formato %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Genero</strong></td>
                                 <td class="h5"><%= productos[i].genero %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Precio</strong></td>
                                 <td class="h5"><%= productos[i].precio %></td>
                             </tr>
                         </tbody>
                    </table>
                    <div class="col-md-4 pull-right"> 
                       <img src=" <%= productos[i].imagen%>" alt="<%= productos[i].album %>" class="img-responsive">
                    </div>
                    
                    <div class="clearfix"></div>
										<h3>Descripcion</h3>
                   <%= productos[i].descripcion%>

		</div> 
		<div class="modal-footer"> 
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-default" data-dismiss="modal">Añadir</button>  
		</div> 
	  </div>	 	  
	</div> 
</div>

<span>
     <% if (errors.length > 0) {%>
         <% errors.forEach(function(error){ %>
            <li> <%= error.msg %> </li>
         <% }) %>
    <% } %>
</span>