<br>
<div id="text-divisor">
    Detalles
</div><br>
<div class="container">
    <div class="col-md-4">
        <img class="img-responsive" src="<%= producto.imagen %>" />
    </div>
    <div class="col-md-6">
        <p class="detail-text">Banda: <span><%= producto.banda %></span></p>
        <p class="detail-text">Album: <span><%= producto.album %></span></p>
        <p class="detail-text">Formato: <span><%= producto.formato %></span></p>
        <p class="detail-text">Genero: <span><%= producto.genero %></span></p>
        <p class="detail-text">Precio: $ <span><%= producto.precio %></span></p>
        <h3>Descripcion:</h3>
        <p><%= producto.descripcion %></p>
        <br>
        <a href="/agregar/<%= producto._id %>" class="btn" role="button">Añadir</a>
        <a href="/productos" class="btn" role="button">Volver</a>
    </div>
</div>
<br>
<div id="text-divisor">
    <h1></h1>
</div><br>