
<%
 var i = "0";
 for(i in productos){
%>

        <div class="col-sm-4 ">
            <div class="panel">
                <div class="panel-body" id="image-product">
                    <a href="#" data-toggle="modal" data-target="#myModal<%=[i]%>">
                    <img src=" <%= productos[i].imagen%>" alt="<%= productos[i].album %>" class="img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    <a class="link-text" href="/productos?banda=<%= productos[i].banda %>"><p class="band-text" ><%= productos[i].banda %></p></a>
                    <a class="link-text" href="/detalle/<%= productos[i]._id %>"><p class="album-text"> <%= productos[i].album %></p></a>
                     <a class="link-text" href="/productos?genero=<%= productos[i].genero %>"><p class="price"> <%= productos[i].genero %></p></a>
                    <p class="price"> $  <%= productos[i].precio %></p>
                    <a href="/agregar/<%= productos[i]._id %>" class="btn pull-left" role="button">Añadir</a>
                    <br>
                </div>
			</div>
		</div>
				<!-- Modal --> 
<div class="modal fade" id="myModal<%=[i]%>" role="dialog"> 
	<div class="modal-dialog"> 
	  <!-- Modal content--> 
	  <div class="modal-content"> 
		<div class="modal-header"> 
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h4 class="modal-title"><%= productos[i].banda %></h4> 
		</div> 
		<div class="modal-body"> 
            <table class="pull-left col-md-8">
                         <tbody>
                             <tr>
                                 <td class="h4"><strong>Banda</strong></td>
                                 <td class="h5"><%= productos[i].banda %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Album</strong></td>
                                 <td class="h5"><%= productos[i].album %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Formato</strong></td>
                                 <td class="h5"><%= productos[i].formato %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Genero</strong></td>
                                 <td class="h5"><%= productos[i].genero %></td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"><strong>Precio</strong></td>
                                 <td class="h5">$ <%= productos[i].precio %></td>
                             </tr>
                         </tbody>
                    </table>
                    <div class="col-md-4 pull-right"> 
                       <img src=" <%= productos[i].imagen%>" alt="<%= productos[i].album %>" class="img-responsive">
                    </div>
                    <div class="clearfix"></div>
				  <h3>Descripcion</h3>
                   <p><%= productos[i].descripcion%></p>
		</div> 
		<div class="modal-footer"> 
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		<a href="/agregar/<%= productos[i]._id %>" class="btn" role="button">Añadir</a>
		</div> 
	  </div>	 	  
	</div> 
</div>
<% }; %>

<% if( productos.length == 0 ){%>
    <h4> No hay ningún producto con esas características, intenta ampliar la búsqueda</h4>
    <%}%>
<div class="pagination">
<% if (pageCount > 1) { %>
		<% for(var i = 0; i < pageCount; i++ ){ %>
				<a <%= i == currentPage ? "class=active" : "" %> href="/productos?banda=<%= content[0] %>&formato=<%= content[1] %>&genero=<%= content[2] %>&page=<%= i + 1 %>">
				   <%= i + 1 %></a>
		<%}%>
<% }; %>
</div>