<div id="text-divisor">
    Crear Nueva Cuenta
</div><br>
<div class="row" id="form-registro">
    <div class="col-md-9 col-md-offset-1">
        <div class="form-horizontal">
            <form method="POST" action="/users/register">
             
                    <% if (errors) {%>
                        <% for(var i in errors){ %>
                            <div class="error-mgs"><%= errors[i].msg%></div>
                        <% }; %>
                    <% } %>
                
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Nombre: </label>
                    <div class="col-sm-8">
                        <input type="text" id="name" class="form-control" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-sm-2">NickName: </label>
                    <div class="col-sm-8">
                        <input type="text" id="username" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-sm-2">E-Mail: </label>
                    <div class="col-sm-8">
                        <input type="email" id="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-sm-2">Contraseña: </label>
                    <div class="col-sm-8">
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="control-label col-sm-2">Confirmar Contraseña: </label>
                    <div class="col-sm-8">
                        <input type="password2" id="password2" class="form-control" name="password2">
                    </div>
                </div>
                <div class="btn-center"><button type="submit" class="btn">Registrarse</button></div>
            </form>
        </div>
    </div>
</div><br>
<div id="text-divisor">
    <h1></h1>
</div>