<div class="panel panel-default" id="sidePanel">
  <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div id="text-divisor">Tokatas</div><br>
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="../images/tokatas/1.jpg">
      <img src="../images/tokatas/1.jpg" >
      </a>
        </div>

        <div class="item">
          <a href="../images/tokatas/2.jpg">
      <img src="../images/tokatas/2.jpg" >
      </a>
        </div>

        <div class="item">
          <a href="../images/tokatas/3.jpg">
      <img src="../images/tokatas/3.jpg" >
      </a>
        </div>

        <div class="item">
          <a href="../images/tokatas/4.jpg">
      <img src="../images/tokatas/4.jpg" >
      </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
      <a class="right carousel-control" href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>