<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>

<body class="container">
  <header id="header">
    <% include ../partials/header %>
      <div id="navbar">
        <% include ../partials/navbar %>
      </div>
  </header>

  <main class="row content" id="content">
    <article class="col-sm-9 sidenav pull-left">
			<% include ../contents/carrousel %>
		</article>
		<article class="col-sm-3 sidenav pull-right">
			<% include ../pages/content %>
		</article>
  </main>

  <footer id="footer">
    <% include ../partials/footer %>
  </footer>
</body>

</html>