<!DOCTYPE html>
<html lang="es">

<head>
  <title>Productos</title>
  <% include ../partials/head %>
</head>

<body class="container">
  <header id="header">
    <% include ../partials/header %>
      <div id="navbar">
        <% include ../partials/navbar %>
      </div>
  </header>

  <main class="row content" id="content">
		<article class="col-sm-9 sidenav">
			<% include ../contents/productContent %>
		</article>
		<aside class="col-sm-3 sidenav">
			<% include ../partials/sidenav %> 
		</aside>
  </main>

  <footer id="footer">
    <% include ../partials/footer %>
  </footer>
</body>

</html>