<!DOCTYPE html>
<html lang="es">

<head>
  <title>Registro</title>
  <% include ../partials/head %>
</head>

<body class="container">
  <header id="header">
    <% include ../partials/header %>
      <div id="navbar">
        <% include ../partials/navbar %>
      </div>
  </header>

  <main>
		<article >
		<% include ../contents/registrationForm %>
    
		</article>
  </main>

  <footer id="footer">
    <% include ../partials/footer %>
  </footer>
</body>

</html>